<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Optional: DND control permission. Declared here so manifest merger includes it. -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

</manifest>
