<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:networkSecurityConfig">
        <receiver
            android:name=".debug.TestWakeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rousecontext.action.TEST_WAKE" />
            </intent-filter>
        </receiver>
        <provider
            android:name=".testing.TestCommandProvider"
            android:authorities="com.rousecontext.debug.test"
            android:exported="true" />
    </application>
</manifest>
